/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Bungee&family=Poppins&family=Roboto+Mono&display=swap');

html {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f9faff,
    #eff6ff,
    #e2f3ff,
    #d3f1ff
  );
  font-family: 'Poppins', sans-serif;
}

.container {
  margin-top: 50px;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.login-text {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.form_input {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  transition: border-color 0.3s;
}

.form_input:focus {
  border-color: #0056b3;
  outline: none;
}

.btn_operations {
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn_operations:hover {
  background-color: #004494;
}

#error-message {
  color: #ff0000;
  text-align: center;
  margin-top: 10px;
}
